<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wen.mall.dao.CardMapper" >
  <resultMap id="BaseResultMap" type="com.wen.mall.model.Card" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="c_user_id" property="cUserId" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="good_price" property="goodPrice" jdbcType="DECIMAL" />
    <result column="good_style" property="goodStyle" jdbcType="VARCHAR" />
    <result column="good_remaing" property="goodRemaing" jdbcType="INTEGER" />
  </resultMap>

  <!--根据用户id查询-->
  <select id="findByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT g.good_name,g.good_price,g.good_style,c.number,s.shop_name,cu.`name`,c.id,c.good_id,c.c_user_id,g.shop_id
    from card as c INNER JOIN c_user as cu on c.c_user_id = cu.id
    INNER JOIN good as g on c.good_id = g.id
    INNER JOIN shop as s on s.id = g.shop_id
    where cu.id = #{id}
  </select>

  <!--根据商家id查询-->
  <select id="findByShopId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT g.good_name,g.good_price,g.good_style,c.number,s.shop_name,cu.`name`,c.id,c.good_id,c.c_user_id,g.shop_id
    from card as c INNER JOIN c_user as cu on c.c_user_id = cu.id
    INNER JOIN good as g on c.good_id = g.id
    INNER JOIN shop as s on s.id = g.shop_id
    where g.shop_id = #{id}
  </select>


  <insert id="insert" parameterType="com.wen.mall.model.Card" >
    insert into card (id, c_user_id, good_id, 
      number)
    values (#{id,jdbcType=INTEGER}, #{cUserId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wen.mall.model.Card" >
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cUserId != null" >
        c_user_id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="number != null" >
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>